.alert-container {
  position: absolute;
  width: 100%;
  z-index: 100;
  opacity: .95;
}

.alert {
  padding: 5px 35px 5px 14px;
  color: #c09853;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.alert h4 {
  margin: 0;
}

.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px;
  cursor: pointer;
}

.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-danger,
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}

.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}

#alert-view {
 text-align: center;
 z-index: 30000;
 position: fixed;
 top: 3px;
 box-shadow: 0 2px 3px rgba(34, 25, 25, 0.3);
 border-radius: 5px;
 max-width: 700px;
} 

#alert-view a {
  white-space: nowrap;
}

.alert-text {
  background-color: white;
  color: #b94a48;
  border-color: white;
}
  
/* Alert messages */
/*
  .alert-message {
  padding: 5px 10px;
  background-color: #F8C37C;
  color: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 3px;
  border: 1px solid #F9A739;
  opacity: .9;
  text-shadow: none;
  height: 20px;
  z-index: 100;
  width: 675px;
  position: absolute;
}

.alert-message .success {
}

.alert-message .error {
}

.alert-message .warning {
}

.alert-message .notification {
}

.alert-message .close {
  position: relative;
  bottom: 20px;
  right: 10px;
  color: #fff;
}

.alert-message p {
  margin-bottom: 0px;
}

.alert-message.floating {
  top: 33px;
  z-index: 100;
  position: fixed;
  width: 675px;
};
*/
