
/* Footer */
#footer {
  background-color: #ECECEC;
  padding-top: 20px;
  color: #5F5F5F;
  text-shadow: none;
	clear: both;
	position: relative;
	height: 20em;
	margin-top: -7em;
  -moz-box-shadow:    inset 0 0 10px #ccc;
  -webkit-box-shadow: inset 0 0 10px #ccc;
  box-shadow:         inset 0 0 10px #ccc;
  text-align: center;
  /* #content bottom padding must == #footer margin-top to ensure footer sticks at bottom and does not overlap content */
}

#footer ul,
#footer li {
  margin: 0;
}

#footer p {
  margin-top: 20px;
  font-size: .8462em;
}

#footer #footer-menu  {
  list-style-type: none;
}

#footer #footer-menu li {
  display: inline-block;
  margin-right: 15px;
  padding-right: 15px;
}

#footer #footer-menu li.last {
  margin-right: 0px;
  padding-right: 0px;
}

#footer #footer-menu li a {
  color: #855cd6;
}

#footer ul.footer-col {
  margin-bottom: 10px;
}

#footer ul.footer-col li {
  list-style-type:none;
  display: inline-block;
  width: 220px;
  text-align: left;
  vertical-align: top;
}

#footer ul.footer-col li h4 {
  font-weight: bold;
  font-size: 14px;
  color: #666;
  margin-bottom: 5px;
}
