/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

dialog {
  border: none;
  padding: 0; }

/*-----------End of Reset-----------*/
html {
  font-family: 'Helvetica Neue', 'arial', sans-serif;
  font-size: 16px;
  color: #6B6B6B;
  background-color: #FDFDFD;
}

/*-----------Typography-----------*/

h1, h2, h3, h4, h5, p {
  line-height: 1.7em;
}

h1 {
  /*margin: 0 0 .1em 0;*/
  font-size: 2.25rem;
  font-weight: bold;
}

h2 {
  /*margin: 0 0 .3em 0;*/
  font-size: 1.5rem;
  font-weight: bolder;
}

h3 {
  font-size: 1.3rem;
  font-weight: bolder;
}

h4 {
  font-size: 1rem;
  font-weight: bolder;
}

h5 {
  font-size: .85rem;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/*Paragraph Typography*/

p {
  margin: .25em 0 1em 0;
  max-width: 600px;
  font-size: 1rem;
  font-weight: normal;
}

.intro {
  font-size: 1.1rem;
  margin-bottom: 1em;
}

b {
  font-weight: bolder;
}

/*Link Typography*/
a {
  font-weight: bolder;
  color: #25aff4;
  text-decoration: none;
}

a:hover {
  color: #1d90c9;
  text-decoration: none;
}

/*List Typography*/
ol, ul {
  margin: .25em 0 1em 0;
  padding-left: 20px;
  max-width: 540px;
  font-size: 1rem;
  font-weight: lighter;
  line-height: 1.5em;
}

li {
  margin: .75em 0;
}

/*-----------Button-----------*/

.button {
  display: inline-block;
  margin: .5em 0;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0,0,0,.25);
  background-color: #25aff4;
  cursor: pointer;
  padding: 1em 1.5em;
  color: white;
  font-size: .8rem;
  font-weight: bold;
}

.button:hover {
  background-color: #1d90c9;
  box-shadow: 0 2px 2px rgba(0,0,0,.25);
  color: white;
}

.button:active {
  background-color: #25aff4;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.25);
}

.button:focus {
  background-color: #25aff4;
  outline: none;
}

.button.register {
  background-color: white;
  color: #25aff4;;
}

.button.register:hover {
  box-shadow: 0 3px 3px rgba(0,0,0,.25);
}

/*-----------Navigation-----------*/

nav {
  position: fixed;
  top: 0;
  border-bottom: 1px solid rgba(0,0,0,.1);
  box-shadow: 0 0 3px rgba(0,0,0,.25);
  background-color: #25AFF4;
  width: 100%;
  z-index: 9999;
}

#nav-elements {
  margin: 0 auto;
}

#logo {
  height: 25px;
  margin: 14px;
  display: inline-block;
}

.links {
  display: inline-block;
  float: right;
  margin: 0 10px;
}

.links li {
  display: inline-block;
  color: white;
  margin: 0;
  padding: 16px 15px;
  font-size: .85rem;
}

.links li:hover {
  display: inline-block;
  color: white;
  background-color: rgba(0, 0, 0, .15);
}


/*-----------Main Content-----------*/

figure.banner {
  display: block;
  width: 100%;
  margin: 0;
}

figure img {
  width: 100%;
}

#registration-banner figcaption {
  position: absolute;
  width: 100%;
  top: 225px;
  text-align: center;
}

#registration-banner figcaption h1 {
  color: #fff;
  font-weight: bolder;
}

#main-content {
  max-width: 940px;
  width: 80%;
  margin: 80px auto 40px auto;
}

section {
  display: block;
  max-width: 940px;
  margin: 30px 20px;
}

.body-copy {
  display: inline-block;
  width: 70%;
}

.sidebar {
  display: inline-block;
  float: right;
  width: 200px;
  background-color: white;
}

/*-----------Footer-----------*/

footer {
  padding: 40px 0;
  width: 100%;
  background-color: #f2f2f2;
}

#footer-info {
  margin: 0 auto;
  text-align: center;
}

footer ul {
  margin: 0 auto;
  list-style: none;
  max-width: 100%;
}

footer li {
  display: inline-block;
  margin: 5px 10px;
}

footer p {
  max-width: 100%;
  margin: 20px 30px;
  font-size: .9rem;
}

/*-----------Media Queries-----------*/

@media (max-width: 924px) {
  .body-copy, .sidebar {
    display: block;
  }

  .body-copy {
    width: 100%;
  }

  .sidebar {
    width: calc(100% - 20px);
    float: none;
    border-top: solid 1px rgba(0,0,0, .1);
    border-bottom: solid 1px rgba(0,0,0, .1);
    padding: 10px 0;
  }

  .sidebar p {
    margin: 0;
    display: inline-block;
    margin-right: 30px;
  }

  .sidebar a {
    vertical-align: top;
  }

  #registration-banner figcaption {
    top: 175px;
  }
}

@media (max-width: 715px) {

  #logo, .links {
      display: block;
      float: none;
      text-align: center;
  }

  #logo {
    margin: 10px auto;
    height: 20px;
  }

  .links {
    margin: 0 auto;
  }

  .links li {
    padding: 5px 15px;
    border-radius: 20px;
    margin-bottom: 5px;
  }

  #main-content {
    width: 95%;
    margin: 0 auto 40px auto;
  }

  figure.banner {
    margin-top: 80px;
  }

  #registration-banner figcaption {
    position: relative;
    top: auto;
    margin-top: 20px;
  }

  #registration-banner figcaption h1 {
    color: #6B6B6B;
  }

  .button.register {
    background-color: #25aff4;
    color: white;;
  }

  .button.register:hover {
    box-shadow: 0 2px 2px rgba(0,0,0,.25);
  }
}

